{% extends 'one_finger/base.html' %}

{% block css %}
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">

{% endblock %}
{%  block content %}


<div id="wrapper">
  <div class="row wrapper border-bottom white-bg page-heading"> <!-- heand -->
      <div class="col-lg-10">
          <h2>Dashboards</h2>
          <ol class="breadcrumb">
              <li>
                  <a href="/">Dashboards</a>
              </li>
              <li>
                  <a>Neutron Status</a>
              </li>
          </ol>
      </div>
      <div class="col-lg-2">

      </div>
  </div> <!-- end heand -->
  <br>
    <div class="row"> <!-- neutron dashboard -->

        <div class="col-lg-12">
            <div class="ibox-content">
{#                <h2>TODO List</h2>#}
               <div style="height: 279px">
                  <div class="col-sm-2">
                    <div>
                       <div id="neutron-columns-block-status" class="navy-bg widget block-status text-center">
                          <div class="m-b-md">
                             <h1>Neutron</h1><br>
                              <i class="fa fa-exchange fa-4x"></i>
                              <h1 id="neutron-columns-block-content" class="m-xs cloud-model-font ">OK</h1>

                          </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                      <h2>Neutron Status</h2>
                      <ul class="list-group clear-list m-t">

                          <li class="list-group-item fist-item">
                              <span class="pull-right">
                                  <button id="neutron-l3-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-l3-columns-block" class="label navy-bg">1</span> L3 Agent
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                  <button id="neutron-dhcp-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-dhcp-columns-block" class="label navy-bg">2</span> DHCP Agent
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                  <button id="neutron-api-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-api-columns-block" class="label navy-bg">3</span> Neutron API
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                 <button id="neutron-river-columns-block-content" class="btn  navy-bg  btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-river-columns-block" class="label  navy-bg">4</span> Agent Status
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                  <button id="neutron-compute-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-compute-columns-block" class="label navy-bg">5</span> Comput Status
                          </li>

                      </ul>
                  </div>

                  <div class="col-sm-4">

                    <div id="neutron_manager_status" style="height: 300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: rgb(231, 234, 236);" _echarts_instance_="ec_1453882051708"><div style="position: relative; overflow: hidden; width: 504px; height: 300px;"><canvas width="504" height="300" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 504px; height: 300px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas></div><div style="display: none;"></div></div>

                  </div>
                  <div class="col-sm-4">
                      <div id="neutron_comput_status" style="height: 300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: rgb(231, 234, 236);" _echarts_instance_="ec_1453882051709"><div style="position: relative; overflow: hidden; width: 504px; height: 300px;"><canvas width="504" height="300" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 504px; height: 300px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas></div><div style="display: none;"></div></div>
                  </div>
                </div>
            </div>
        </div>
    </div> <!-- neutron dashboard -->
  <br>
<div class="row">

    <div id="wrapper">
          <div id="compute_table" class="mail-box">
            {% for node in node_list %}
            <table class="table table-hover table-mail">
              <tbody>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact"><a>{{ node.hostname }}</a></td>
                    <td><span class="btn btn-primary">{{ node.status }}</span></td>
                    <td>{{ node.host_group.name }}</td>
                    <td> CPU
                        <span class="pie">1.00,0.50</span>
                    </td>
                    <td> MEM
                        <span class="pie">0.52,1.000</span>
                    </td>

                    <td>
                        12.02.2015 10:00 am
                    </td>
                    <td>
                        <span class="pie">0.52,1.00</span>
                        2d
                    </td>

                    <td class="text-right">
                        <button class="btn btn-info"> SSH</button>
                        <button class="btn btn-warning"> shutdown</button>
                        <button class="btn btn-danger"> reboot</button>
                    </td>
                </tr>
              </tbody>
            </table>
            {% endfor %}

          </div>
    <div class="row"> <!-- manager list -->
      <div class="col-lg-12 animated fadeInRight">
        <div class="mail-box-header">
          <form method="get" action="index.html" class="pull-right mail-search">
              <div class="input-group">
                  <input type="text" class="form-control input-sm" name="search" placeholder="Search host">
                  <div class="input-group-btn">
                      <button type="submit" class="btn btn-sm btn-primary">
                          Search
                      </button>
                  </div>
              </div>
          </form>
            <h2>Manager List</h2>
            <div class="mail-tools tooltip-demo m-t-md">

                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                </div>
                <input id="manager_click" type="checkbox" class="i-checks">
                <button class="btn btn-sm btn-primary">Start</button>
                <button class="btn btn-sm btn-warning" >Restart</button>
                <button class="btn btn-sm btn-danger" >Stop</button>

            </div>
            </div>
              <div id="manager_table" class="mail-box">

                {% for node in manager_nodes %}
                <table class="table table-hover table-mail">
                  <tbody>
                    <tr class="unread">
                        <td class="check-mail">
                            <input type="checkbox" class="i-checks">
                        </td>
                        <td class="mail-ontact"><a>{{ node.hostname }}</a></td>
                        {% for neutron_node in node.neutronmanagerservicestatus_set.select_related %}

                            <!-- if neutron status -->
                            {% if neutron_node.status == 'up'  %}
                              <td><span class="btn btn-primary">{{ neutron_node.status }}</span></td>

                            {% elif neutron_node.status == 'warning' %}
                              <td><span class="btn btn-warning">{{ neutron_node.status }}</span></td>

                            {% else %}
                              <td><span class="btn btn-danger">{{ neutron_node.status }}</span></td>

                            {% endif %} <!-- endif neutron status -->

{#                        <td><span class="btn btn-primary">{{ neutron_node.status }}</span></td>#}
                        <td>
                            <!-- if neutron api status -->
                            {% if neutron_node.neutron_api_status == 'up'  %}
                                <button class="btn btn-primary">neutron API</button>
                            {% elif neutron_node.neutron_api_status == 'warning' %}
                                <button class="btn btn-warning">neutron API</button>
                            {% else %}
                                <button class="btn btn-danger">neutron API</button>
                            {% endif %} <!-- endif neutron api status -->

                            <!-- if neutron Open vSwitch agent status -->
                            {% if neutron_node.neutron_openvswitch_agent == 'up'  %}
                                <button class="btn btn-primary">Open vSwitch agent</button>
                            {% elif neutron_node.neutron_openvswitch_agent == 'warning' %}
                                <button class="btn btn-warning">Open vSwitch agent</button>
                            {% else %}
                                <button class="btn btn-danger">Open vSwitch agent</button>
                            {% endif %} <!-- endif neutron Open vSwitch agent status -->


                            <!-- if neutron Loadbalancer agent status -->
                            {% if neutron_node.neutron_metadata_agent == 'up'  %}
                                <button class="btn btn-primary">Loadbalancer agent</button>
                            {% elif neutron_node.neutron_metadata_agent == 'warning' %}
                                <button class="btn btn-warning">Loadbalancer agent</button>
                            {% else %}
                                <button class="btn btn-danger">Loadbalancer agent</button>
                            {% endif %} <!-- endif neutron Open vSwitch agent status -->

                            <!-- if neutron Loadbalancer agent status -->
                            {% if neutron_node.neutron_lbaas_agent == 'up'  %}
                                <button class="btn btn-primary">Metadata agent</button>
                            {% elif neutron_node.neutron_lbaas_agent == 'warning' %}
                                <button class="btn btn-warning">Metadata agent</button>
                            {% else %}
                                <button class="btn btn-danger">Metadata agent</button>
                            {% endif %} <!-- endif neutron Open vSwitch agent status -->


{#                            <button class="btn btn-primary">Loadbalancer agent</button>#}
{#                            <button class="btn btn-primary"> Metadata agent</button>#}
                        </td>

                          {% if neutron_node.neutron_dhcp_agent %}<!-- if neutron dhcp agent status -->
                            {% if neutron_node.neutron_dhcp_agent == 'up'  %}
                              <td><button class="btn btn-primary">DHCP</button></td>
                            {% elif neutron_node.neutron_dhcp_agent == 'warning' %}
                              <td><button class="btn btn-warning">DHCP</button></td>
                            {% else %}
                              <td><button class="btn btn-danger">DHCP</button></td>
                            {% endif %}
                          {% endif %}<!-- end if neutron dhcp agent status -->


                          {% if neutron_node.neutron_l3_agent %}
                            {% if neutron_node.neutron_l3_agent == 'up'  %}
                              <td><button class="btn btn-primary  ">L3</button></td>
                            {% elif neutron_node.neutron_l3_agent == 'warning' %}
                              <td><button class="btn btn-warning">L3</button></td>
                            {% else %}
                              <td><button class="btn btn-danger">L3</button></td>
                            {% endif %}
{#                            <td>#}
{#                              <button class="btn btn-primary">L3</button>#}
{#                              <button class="btn btn-danger">DHCP</button>#}
{#                            </td>#}
                          {% endif %}
                        {% endfor %}
                    </tr>


                  </tbody>
                </table>
                {% endfor %}

              </div>
          </div>
    </div> <!-- end manager list -->
{#{% include 'openstack/dashboards/node_list.html' %}#}

    <div class="row"> <!-- compute list -->
      <div class="col-lg-12 animated fadeInRight">
        <div class="mail-box-header">
          <form method="get" action="index.html" class="pull-right mail-search">
              <div class="input-group">
                  <input type="text" class="form-control input-sm" name="search" placeholder="Search host">
                  <div class="input-group-btn">
                      <button type="submit" class="btn btn-sm btn-primary">
                          Search
                      </button>
                  </div>
              </div>
          </form>
            <h2>Compute List</h2>
            <div class="mail-tools tooltip-demo m-t-md">

                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                </div>
                <input id="compute_click" type="checkbox" class="i-checks">
                <button class="btn btn-sm btn-primary" >Start</button>
                <button class="btn btn-sm btn-warning" >Restart</button>
                <button class="btn btn-sm btn-danger" >Stop</button>

            </div>
        </div>
          <div id="compute_table" class="mail-box">

            {% for node in compute_nodes %}
            <table class="table table-hover table-mail">
              <tbody>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact"><a>{{ node.hostname }}</a></td>

                  {% for neutron_node in node.neutroncomputeservicestatus_set.select_related %}
                    <td><span class="btn btn-primary">{{ neutron_node.neutron_openvswitch_agent }}</span></td>
                    <td>
                      <!-- if neutron Open vSwitch agent status -->
                      {% if neutron_node.neutron_openvswitch_agent == 'up'  %}
                          <button class="btn btn-primary">Open vSwitch agent</button>
                      {% elif neutron_node.neutron_openvswitch_agent == 'warning' %}
                          <button class="btn btn-warning">Open vSwitch agent</button>
                      {% else %}
                          <button class="btn btn-danger">Open vSwitch agent</button>
                      {% endif %} <!-- endif neutron Open vSwitch agent status -->
                    </td>
                  {% endfor %}

                </tr>

              </tbody>
            </table>
            {% endfor %}

          </div>
      </div>
        </div> <!-- end compute list -->

    </div>

</div>


</div>
{%  endblock  %}

{% block js %}
    <script type="text/javascript" src="/static/js/one_finger/dashiboard/dashboard.js"></script>
    <script type="text/javascript" src="/static/js/openstack/neutron.js"></script>

    <script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/js/inspinia.js"></script>
    <script src="/static/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/static/js/openstack/tools.js"></script>
{% endblock %}

{% block java_scrip %}
{#    $(document).ready(){#}
  <script type="text/javascript">
      $(document).ready(function(){


{#        选择钮#}
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        var manager_checkAll = $('#manager_click');
        var manger_checkboxes = $('#manager_table input.i-checks');
        check_select(manager_checkAll, manger_checkboxes);

        $("#manager_click").parent().siblings(".btn-primary").click(function(){
          var manger_checkboxes =$("#manager_table td.check-mail input");
          select_check_action(manger_checkboxes);
        });

        var compute_checkAll = $('#compute_click');
        var compute_checkboxes = $('#compute_table input.i-checks');
        check_select(compute_checkAll, compute_checkboxes);

        $("#compute_click").parent().siblings(".btn-primary").click(function(){
          var compute_checkboxes =$("#compute_table td.check-mail input");
          select_check_action(compute_checkboxes);
        });


{#        选择钮#}


    });

    $("manager_click").parent().siblings();
    $("[href='{% url "dashboards_neutron_status" %}']").parent().addClass('active');
    $("[href='{% url "dashboards_neutron_status" %}']").parent().parent().parent().addClass('active');

    var neutron_manager_status_option = new control_option();
    var neutron_compute_status_option = new compute_option();

    neutron_status(
            "{% url "neutron_status" %}",
            neutron_manager_status_option,
            neutron_compute_status_option
    );
    setInterval(function(){neutron_status(
            "{% url "neutron_status" %}",
            neutron_manager_status_option,
            neutron_compute_status_option )},5000);

    function myrefresh(){
      window.location.reload();
    }
    setTimeout('myrefresh()',60000);
    function manager_click(){
      $("#manager_click").click(function(){
        console.log('click manager tables');
        $("#manager_table td [class=check-mail] div").addClass('checked')


      });
    }


  </script>


{#    };#}
{% endblock %}