{% extends 'one_finger/base.html' %}

{%  block content %}


<div id="wrapper">
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
          <h2>Dashboards</h2>
          <ol class="breadcrumb">
              <li>
                  <a href="/">Dashboards</a>
              </li>
              <li>
                  <a>Neutron Status</a>
              </li>
          </ol>
      </div>
      <div class="col-lg-2">

      </div>
  </div>
  <br>
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox-content">
{#                <h2>TODO List</h2>#}
               <div style="height: 279px">
                  <div class="col-sm-2">
                    <div>
                       <div id="neutron-columns-block-status" class="navy-bg widget block-status text-center">
                          <div class="m-b-md">
                             <h1>Neutron</h1><br>
                              <i class="fa fa-exchange fa-4x"></i>
                              <h1 id="neutron-columns-block-content" class="m-xs cloud-model-font ">OK</h1>

                          </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                      <h2>Neutron Status</h2>
                      <ul class="list-group clear-list m-t">

                          <li class="list-group-item fist-item">
                              <span class="pull-right">
                                  <button id="neutron-l3-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-l3-columns-block" class="label navy-bg">1</span> L3 Agent
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                  <button id="neutron-dhcp-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-dhcp-columns-block" class="label navy-bg">2</span> DHCP Agent
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                  <button id="neutron-api-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-api-columns-block" class="label navy-bg">3</span> Neutron API
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                 <button id="neutron-river-columns-block-content" class="btn  navy-bg  btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-river-columns-block" class="label  navy-bg">4</span> Agent Status
                          </li>

                          <li class="list-group-item">
                              <span class="pull-right">
                                  <button id="neutron-compute-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                              </span>
                              <span id="neutron-compute-columns-block" class="label navy-bg">5</span> Comput Status
                          </li>

                      </ul>
                  </div>

                  <div class="col-sm-4">

                    <div id="neutron_manager_status" style="height: 300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: rgb(231, 234, 236);" _echarts_instance_="ec_1453882051708"><div style="position: relative; overflow: hidden; width: 504px; height: 300px;"><canvas width="504" height="300" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 504px; height: 300px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas></div><div style="display: none;"></div></div>

                  </div>
                  <div class="col-sm-4">
                      <div id="neutron_comput_status" style="height: 300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: rgb(231, 234, 236);" _echarts_instance_="ec_1453882051709"><div style="position: relative; overflow: hidden; width: 504px; height: 300px;"><canvas width="504" height="300" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 504px; height: 300px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas></div><div style="display: none;"></div></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
<br>
<div class="row">
    <div class="col-lg-8">
        <div class="ibox-content">
            <h2>Manager List</h2>
              <div class="table-responsive">
                <table class="table table-hover issue-tracker">
                    <tbody>
                    <tr>
                        <td><span class="btn btn-primary">OK</span></td>
                        <td><a> node-5.domain.tld</a></td>
                        <td class="text-right">
                            <button class="btn btn-primary">neutron API</button>
                            <button class="btn btn-primary">Open vSwitch agent</button>
                            <button class="btn btn-primary">Loadbalancer agent</button>
                            <button class="btn btn-primary"> Metadata agent</button>
                            <button class="btn btn-none"> L3 agent</button>
                            <button class="btn btn-none"> DHCP agent</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-primary">OK</span>
                        </td>
                        <td>
                            <a href="#">
                                node-6.domain.tld
                            </a>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary">neutron API</button>
                            <button class="btn btn-primary">Open vSwitch agent</button>
                            <button class="btn btn-primary">Loadbalancer agent</button>
                            <button class="btn btn-primary"> Metadata agent</button>
                            <button class="btn btn-primary"> L3 agent</button>
                            <button class="btn btn-none"> DHCP agent</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-primary">OK</span>
                        </td>
                        <td>
                            <a href="#">
                                node-3.domain.tld
                            </a>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary">neutron API</button>
                            <button class="btn btn-primary"> Open vSwitch agent</button>
                            <button class="btn btn-primary">Loadbalancer agent</button>
                            <button class="btn btn-primary"> Metadata agent</button>
                            <button class="btn btn-none"> L3 agent</button>
                            <button class="btn btn-primary"> DHCP agent</button>
                        </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox-content">
            <h2>Compute List</h2>
              <div class="table-responsive">
                <table class="table table-hover issue-tracker">
                    <tbody>
                    <tr>
                        <td>
                            <span class="btn btn-primary">OK</span>
                        </td>
                        <td>
                            <a href="#">
                                node-7.domain.tld
                            </a>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary">Open vSwitch agent</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-primary">OK</span>
                        </td>
                        <td>
                            <a href="#">
                                node-8.domain.tld
                            </a>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary"> Open vSwitch agent</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-primary">OK</span>
                        </td>
                        <td>
                            <a href="#">
                                node-9.domain.tld
                            </a>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary"> Open vSwitch agent</button>
                        </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
        </div>
    </div>

</div>
{%  endblock  %}

{% block js %}
    <script type="text/javascript" src="/static/js/one_finger/dashiboard/dashboard.js"></script>
    <script type="text/javascript" src="/static/js/openstack/neutron.js"></script>

{% endblock %}

{% block java_scrip %}
{#    $(document).ready(){#}
  <script type="text/javascript">
    $("[href='{% url "dashboards_neutron_status" %}']").parent().addClass('active');
    $("[href='{% url "dashboards_neutron_status" %}']").parent().parent().parent().addClass('active')

    var neutron_manager_status_option = new control_option();
    var neutron_compute_status_option = new compute_option();

    neutron_status(
            "{% url "neutron_status" %}",
            neutron_manager_status_option,
            neutron_compute_status_option
    );
    setInterval(function(){neutron_status(
            "{% url "neutron_status" %}",
            neutron_manager_status_option,
            neutron_compute_status_option )},5000);

    function myrefresh(){
      window.location.reload();
    }
    setTimeout('myrefresh()',60000);

  </script>


{#    };#}
{% endblock %}