    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">

<div class="row">

{#  manager list#}
  <div class="col-lg-12 animated fadeInRight">
    <div class="mail-box-header">
      <form method="get" action="index.html" class="pull-right mail-search">
          <div class="input-group">
              <input type="text" class="form-control input-sm" name="search" placeholder="Search host">
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">
                      Search
                  </button>
              </div>
          </div>
      </form>
        <h2>Manager List</h2>
        <div class="mail-tools tooltip-demo m-t-md">

            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
            </div>
            <input id="manager_click" type="checkbox" class="i-checks">
            <button class="btn btn-sm btn-primary">Start</button>
            <button class="btn btn-sm btn-warning" >Restart</button>
            <button class="btn btn-sm btn-danger" >Stop</button>

        </div>
        </div>
          <div id="manager_table" class="mail-box">
            <table class="table table-hover table-mail">
              <tbody>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact"><a>node-3.domain.tld</a></td>
                    <td><span class="btn btn-primary">OK</span></td>
                    <td>
                        <button class="btn btn-primary">neutron API</button>
                        <button class="btn btn-primary">Open vSwitch agent</button>
                        <button class="btn btn-primary">Loadbalancer agent</button>
                        <button class="btn btn-primary"> Metadata agent</button>
                    </td>
                    <td>
                      <button class="btn btn-primary">L3</button>
                      <button class="btn btn-danger">DHCP</button>
                    </td>
                </tr>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact"><a>node-5.domain.tld</a></td>
                    <td><span class="btn btn-primary">OK</span></td>
                    <td>
                        <button class="btn btn-primary">neutron API</button>
                        <button class="btn btn-primary">Open vSwitch agent</button>
                        <button class="btn btn-primary">Loadbalancer agent</button>
                        <button class="btn btn-primary"> Metadata agent</button>
                    </td>
                    <td>
                      <button class="btn btn-primary">L3</button>
                      <button class="btn btn-danger">DHCP</button>
                    </td>
                </tr>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact"><a>node-6.domain.tld</a></td>
                    <td><span class="btn btn-primary">OK</span></td>
                    <td>
                        <button class="btn btn-primary">neutron API</button>
                        <button class="btn btn-primary">Open vSwitch agent</button>
                        <button class="btn btn-primary">Loadbalancer agent</button>
                        <button class="btn btn-primary"> Metadata agent</button>
                    </td>
                    <td>
                      <button class="btn btn-primary">L3</button>
                      <button class="btn btn-danger">DHCP</button>
                    </td>
                </tr>


              </tbody>
            </table>


          </div>
      </div>
    </div>


<div class="row">
  <div class="col-lg-12 animated fadeInRight">
    <div class="mail-box-header">
      <form method="get" action="index.html" class="pull-right mail-search">
          <div class="input-group">
              <input type="text" class="form-control input-sm" name="search" placeholder="Search host">
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">
                      Search
                  </button>
              </div>
          </div>
      </form>
        <h2>Compute List</h2>
        <div class="mail-tools tooltip-demo m-t-md">

            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
            </div>
            <input id="compute_click" type="checkbox" class="i-checks">
            <button class="btn btn-sm btn-primary" >Start</button>
            <button class="btn btn-sm btn-warning" >Restart</button>
            <button class="btn btn-sm btn-danger" >Stop</button>

        </div>
    </div>
      <div id="compute_table" class="mail-box">
        <table class="table table-hover table-mail">
          <tbody>
            <tr class="unread">
                <td class="check-mail">
                    <input type="checkbox" class="i-checks">
                </td>
                <td class="mail-ontact"><a>node-10.domain.tld</a></td>
                <td><span class="btn btn-primary">OK</span></td>
                <td><button class="btn btn-primary">Open vSwitch agent</button></td>

            </tr>
            <tr class="unread">
                <td class="check-mail">
                    <input type="checkbox" class="i-checks">
                </td>
                <td class="mail-ontact"><a>node-11.domain.tld</a></td>
                <td><span class="btn btn-primary">OK</span></td>
                <td><button class="btn btn-primary">Open vSwitch agent</button></td>
            </tr>
            <tr class="unread">
                <td class="check-mail">
                    <input type="checkbox" class="i-checks">
                </td>
                <td class="mail-ontact"><a>node-12.domain.tld</a></td>
                <td><span class="btn btn-primary">OK</span></td>
                <td><button class="btn btn-primary">Open vSwitch agent</button></td>

            </tr>


          </tbody>
        </table>


      </div>
  </div>
    </div>

{#{% block java_scrip %}#}
{#    $(document).ready(){#}
{#  <script src="/static/js/plugins/iCheck/icheck.min.js"></script>#}
{#  <script src="/static/js/openstack/tools.js"></script>#}
{##}
{#  <script type="text/javascript" src="/static/js/one_finger/dashiboard/dashboard.js"></script>#}
{#  <script type="text/javascript" src="/static/js/openstack/neutron.js"></script>#}
{##}
{#  <script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>#}
{#  <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>#}
{##}
{#  <!-- Custom and plugin javascript -->#}
{#  <script src="/static/js/inspinia.js"></script>#}
{#  <script src="/static/js/plugins/pace/pace.min.js"></script>#}
{##}
{##}
{#  <script type="text/javascript">#}
{#      $(document).ready(function(){#}
{##}
{##}
{#        选择钮#}
{#        $('.i-checks').iCheck({#}
{#            checkboxClass: 'icheckbox_square-green',#}
{#            radioClass: 'iradio_square-green',#}
{#        });#}
{##}
{#        var manager_checkAll = $('#manager_click');#}
{#        var manger_checkboxes = $('#manager_table input.i-checks');#}
{#        check_select(manager_checkAll, manger_checkboxes);#}
{##}
{#        $("#manager_click").parent().siblings(".btn-primary").click(function(){#}
{#          var manger_checkboxes =$("#manager_table td.check-mail input");#}
{#          select_check_action(manger_checkboxes);#}
{#        });#}
{##}
{#        var compute_checkAll = $('#compute_click');#}
{#        var compute_checkboxes = $('#compute_table input.i-checks');#}
{#        check_select(compute_checkAll, compute_checkboxes);#}
{##}
{#        $("#compute_click").parent().siblings(".btn-primary").click(function(){#}
{#          var compute_checkboxes =$("#compute_table td.check-mail input");#}
{#          select_check_action(compute_checkboxes);#}
{#        });#}
{##}
{##}
{#        选择钮#}
{##}
{##}
{#    });#}
{##}
{#    $("manager_click").parent().siblings();#}
{#    $("[href='{% url "dashboards_neutron_status" %}']").parent().addClass('active');#}
{#    $("[href='{% url "dashboards_neutron_status" %}']").parent().parent().parent().addClass('active');#}
{##}
{#    var neutron_manager_status_option = new control_option();#}
{#    var neutron_compute_status_option = new compute_option();#}
{##}
{#    neutron_status(#}
{#            "{% url "neutron_status" %}",#}
{#            neutron_manager_status_option,#}
{#            neutron_compute_status_option#}
{#    );#}
{##}
{##}
{#  </script>#}
{##}

{#    };#}
{#{% endblock %}#}

