{% extends 'one_finger/base.html' %}

{% block css %}
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">

{% endblock %}


{%  block content %}

    <div id="wrapper">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Dashboards</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Dashboards</a>
                    </li>
                    <li>
                        <a>Node Status</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

    <br>
    <div class="row">
      <div class="col-lg-12 animated fadeInRight">
        <div class="mail-box-header">
          <form method="get" action="index.html" class="pull-right mail-search">
              <div class="input-group">
                  <input type="text" class="form-control input-sm" name="search" placeholder="Search host">
                  <div class="input-group-btn">
                      <button type="submit" class="btn btn-sm btn-primary">
                          Search
                      </button>
                  </div>
              </div>
          </form>
            <h2>Node List</h2>
            <div class="mail-tools tooltip-demo m-t-md">

                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                </div>
                <input id="compute_click" type="checkbox" class="i-checks">&nbsp;&nbsp;&nbsp;
{#                <button class="btn btn-sm btn-primary" >Start</button>#}
                <button class="btn btn-sm btn-danger" >Shutdown</button>&nbsp;
                <button class="btn btn-sm btn-danger" >Reboot</button>

            </div>
        </div>
          <div id="compute_table" class="mail-box">
            {% for node in node_list %}
            <table class="table table-hover table-mail">
              <tbody>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact"><a>{{ node.hostname }}</a></td>
                    <td><span class="btn btn-primary">{{ node.status }}</span></td>
                    <td>{{ node.host_group.name }}</td>
                    <td> CPU
                        <span class="pie">1.00,0.50</span>
                    </td>
                    <td> MEM
                        <span class="pie">0.52,1.000</span>
                    </td>

                    <td>
                        12.02.2015 10:00 am
                    </td>
                    <td>
                        <span class="pie">0.52,1.00</span>
                        2d
                    </td>
                    <td class="text-right">
                        <button class="btn btn-info"> SSH</button>
                        <button class="btn btn-warning"> shutdown</button>
                        <button class="btn btn-danger"> reboot</button>
                    </td>
                </tr>
              </tbody>
            </table>
            {% endfor %}

          </div>
      </div>
    </div>


        </div>
{%  endblock  %}


{% block js %}
    <script type="text/javascript" src="/static/js/one_finger/dashiboard/dashboard.js"></script>
    <script type="text/javascript" src="/static/js/openstack/neutron.js"></script>

    <script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/js/inspinia.js"></script>
    <script src="/static/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/static/js/openstack/tools.js"></script>
{% endblock %}

{% block java_scrip %}
{#    $(document).ready(){#}
  <script type="text/javascript">
    $("[href='{% url "dashboards_node_status" %}']").parent().addClass('active');
    $("[href='{% url "dashboards_node_status" %}']").parent().parent().parent().addClass('active')
  </script>
  <script>

      $(document).ready(function(){


{#        选择钮#}
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        var manager_checkAll = $('#manager_click');
        var manger_checkboxes = $('#manager_table input.i-checks');
        check_select(manager_checkAll, manger_checkboxes);

        $("#manager_click").parent().siblings(".btn-primary").click(function(){
          var manger_checkboxes =$("#manager_table td.check-mail input");
          select_check_action(manger_checkboxes);
        });

        var compute_checkAll = $('#compute_click');
        var compute_checkboxes = $('#compute_table input.i-checks');
        check_select(compute_checkAll, compute_checkboxes);

        $("#compute_click").parent().siblings(".btn-primary").click(function(){
          var compute_checkboxes =$("#compute_table td.check-mail input");
          select_check_action(compute_checkboxes);
        });


{#        选择钮#}


    });


  </script>

{#    };#}
{% endblock %}