{% extends 'one_finger/base.html' %}

{% block css %}
  <style type="text/css">
  .block-status{
    padding: 10px;
  }


  </style>
{% endblock %}

{%  block content %}

{#着是第一块，cloud status#}
  <div class="row  border-bottom white-bg dashboard-header">

    <div class="col-sm-3">
      <div>
{#         <div id="cloud-status-block" class="widget navy-bg  block-status text-center ">#}
         <div id="cloud-status-block" class="widget navy-bg block-status text-center ">
            <div class="m-b-md">
               <h2>Cloud Status</h2><br>
                <i class="fa fa-cloud fa-4x"></i>
                <h1 id="cloud-status-content" class="cloud-model-font m-xs">None</h1>

            </div>
         </div>
      </div>
    </div>


    <div class="col-sm-2">
      <div>
{#         <div id="neutron-status-block" class="widget block-status text-center">#}
         <div id="neutron-status-block" class="widget navy-bg  block-status text-center">
            <div class="m-b-md">
               <h2>Neutron</h2><br>
                <i class="fa fa-exchange fa-4x"></i>
                <h1 id="neutron-status-content" class="cloud-model-font m-xs">None</h1>

            </div>
         </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div>
{#         <h1> Cloud Status</h1>#}

         <div id="nova-status-block" class="widget navy-bg block-status text-center">
            <div class="m-b-md">
               <h2> Nova</h2><br>
                <i class="fa fa-desktop fa-4x"></i>
                <h1 id="nova-status-content" class="cloud-model-font m-xs">None</h1>

            </div>
         </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
{#         <h1> Cloud Status</h1>#}

         <div id="cinder-status-block" class="widget navy-bg block-status text-center">
            <div class="m-b-md">
               <h2>Cinder</h2><br>
                <i class="fa fa-hdd-o fa-4x"></i>
                <h1 id="cinder-status-content" class="cloud-model-font m-xs">None</h1>

            </div>
         </div>
      </div>
    </div>
     <div class="col-sm-2">
      <div>
         <div id="ceph-status-block" class="widget navy-bg block-status text-center">
            <div class="m-b-md">
               <h2>Ceph</h2><br>
                <i class="fa fa-sitemap fa-4x"></i>
                <h1 id="ceph-status-content" class="cloud-model-font m-xs">None</h1>

            </div>
         </div>
      </div>
    </div>
{#着是第一块，cloud status#}



<div class="ibox float-e-margins"> {#Neutron dashboard#}
{#  着个是Neutron具体状态信息#}
  <div class="ibox-title">
      <h5></h5>
      <div class="ibox-tools">
          <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
          </ul>
          <a class="close-link">
              <i class="fa fa-times"></i>
          </a>
      </div>
  </div>
  <div class="ibox-content">
    <div class="col-sm-2">
      <div>
         <div id="neutron-columns-block-status" class="widget block-status text-center navy-bg  cloud-model-block">
            <div class="m-b-md">
               <h1>Neutron</h1><br>
                <i class="fa fa-hdd-o fa-4x"></i>
                <h1  id="neutron-columns-block-content" class="m-xs cloud-model-font ">None</h1>

            </div>
         </div>
      </div>
    </div>
    <div class="col-sm-2">
        <h2>Neutron Status</h2>
        <ul class="list-group clear-list m-t">

            <li class="list-group-item fist-item">
                <span class="pull-right">
                    <button id="neutron-l3-columns-block-content" class="btn navy-bg btn-xs" type="button">OK</button>
                </span>
                <span id="neutron-l3-columns-block" class="label navy-bg">1</span>L3 Agent
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="neutron-dhcp-columns-block-content" class="btn navy-bg  btn-xs" type="button">OK</button>
                </span>
                <span id="neutron-dhcp-columns-block" class="label  navy-bg">2</span>DHCP Agent
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="neutron-api-columns-block-content" class="btn  navy-bg  btn-xs" type="button">OK</button>
                </span>
                <span id="neutron-api-columns-block"  class="label  navy-bg">3</span>Neutron API
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                   <button id="neutron-river-columns-block-content" class="btn  navy-bg  btn-xs" type="button">OK</button>
                </span>
                <span id="neutron-river-columns-block"  class="label  navy-bg">4</span>Agent Status
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="neutron-compute-columns-block-content"  class="btn  navy-bg  btn-xs" type="button">OK</button>
                </span>
                <span id="neutron-compute-columns-block"  class="label  navy-bg">5</span>Comput Status
            </li>

        </ul>
    </div>

    <div class="col-sm-3">
{#      <div id="neutron-manager" style="min-width:200px;height:300px"></div>#}
      <div id="neutron_manager_status" style="height:300px"></div>

    </div>
    <div class="col-sm-3">
        <div id="neutron_comput_status" style="height:300px"></div>
    </div>

  </div>
</div>{#Nutron dashboard#}


<div class="ibox float-e-margins"> {#Nova dashboard#}
{#  着个是nova具体状态信息#}
  <div class="ibox-title">
      <h5></h5>
      <div class="ibox-tools">
          <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
          </ul>
          <a class="close-link">
              <i class="fa fa-times"></i>
          </a>
      </div>
  </div>
  <div class="ibox-content">
    <div class="col-sm-2">
      <div>
         <div id="nova-columns-block-status" class="widget navy-bg block-status text-center">
            <div class="m-b-md">
               <h2>Nova</h2><br>
                <i class="fa fa-hdd-o fa-4x"></i>
                <h1 id="nova-columns-block-status-content" class="m-xs cloud-model-font">None</h1>

            </div>
         </div>
      </div>
    </div>
    <div class="col-sm-2">
        <h2>Nova Status</h2>
        <ul class="list-group clear-list m-t">

            <li class="list-group-item fist-item">
                <span class="pull-right">
                    <button id="nova-api-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="nova-api-columns-block" class="label label-primary">1</span>Nova API
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="nova-consoleauth-columns-block-content" class="btn btn-primary btn-xs" type="button">OK</button>
                </span>
                <span id="nova-consoleauth-columns-block" class="label label-primary">2</span>Nova Consoleauth
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="nova-scheduler-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="nova-scheduler-columns-block" class="label label-primary">3</span>Nova Scheduler
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                   <button id="nova-conductor-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="nova-conductor-columns-block" class="label label-primary">4</span>Nova Conductor
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="nova-compute-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="nova-compute-columns-block" class="label label-primary">5</span>Nova Compute
            </li>

        </ul>
    </div>

    <div class="col-sm-3">
{#      <div id="neutron-manager" style="min-width:200px;height:300px"></div>#}
      <div id="nova_manager_status" style="height:300px"></div>

    </div>
    <div class="col-sm-3">
        <div id="nova_compute_status" style="height:300px"></div>
    </div>

  </div>
</div> {#cinder dashboard#}

<div class="ibox float-e-margins"> {#cinder dashboard#}
{#  着个是nova具体状态信息#}
  <div class="ibox-title">
      <h5></h5>
      <div class="ibox-tools">
          <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
          </ul>
          <a class="close-link">
              <i class="fa fa-times"></i>
          </a>
      </div>
  </div>
  <div class="ibox-content">
    <div class="col-sm-2">
      <div>
         <div id="cinder-columns-block-status" class="widget navy-bg block-status text-center">
            <div class="m-b-md">
               <h2>Cinder</h2><br>
                <i class="fa fa-hdd-o fa-4x"></i>
                <h1 id="cinder-columns-block-status-content" class="m-xs cloud-model-font">OK</h1>

            </div>
         </div>
      </div>
    </div>
    <div class="col-sm-2">
        <h2>Cinder Status</h2>
        <ul class="list-group clear-list m-t">

            <li class="list-group-item fist-item">
                <span class="pull-right">
                    <button id="cinder-api-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="cinder-api-columns-block" class="label label-primary">1</span>Cinder API
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="cinder-scheduler-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="cinder-scheduler-columns-block" class="label label-primary">2</span>Cinder Scheduler
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                   <button id="cinder-volume-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="cinder-volume-columns-block" class="label label-primary">4</span>Cinder Volume
            </li>

        </ul>
    </div>

    <div class="col-sm-3">
{#      <div id="neutron-manager" style="min-width:200px;height:300px"></div>#}
      <div id="cinder_manager_status" style="height:300px">dzfzfffff</div>

    </div>
    <div class="col-sm-3">
        <div id="cinder_volume_status" style="height:300px"></div>
    </div>

  </div>
</div> {#Cinder dashboard#}

<div class="ibox float-e-margins"> {#Neutron dashboard#}
{#  着个是nova具体状态信息#}
  <div class="ibox-title">
      <h5></h5>
      <div class="ibox-tools">
          <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
          </ul>
          <a class="close-link">
              <i class="fa fa-times"></i>
          </a>
      </div>
  </div>
  <div class="ibox-content">
    <div class="col-sm-2">
      <div>
         <div id="ceph-columns-block-status" class="widget navy-bg block-status text-center">
            <div class="m-b-md">
               <h2>Ceph</h2><br>
                <i class="fa fa-hdd-o fa-4x"></i>
                <h1 id="ceph-columns-block-status-content" class="m-xs cloud-model-font">OK</h1>

            </div>
         </div>
      </div>
    </div>
    <div class="col-sm-2">
        <h2>Ceph Status</h2>
        <ul class="list-group clear-list m-t">

            <li class="list-group-item fist-item">
                <span class="pull-right">
                    <button id="ceph-status-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="ceph-status-columns-block" class="label label-primary">1</span>Ceph Status
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="ceph-mon-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="ceph-mon-columns-block" class="label label-primary">2</span>Ceph Mon
            </li>

            <li class="list-group-item">
                <span class="pull-right">
                    <button id="ceph-osd-columns-block-content" class="btn btn-primary  btn-xs" type="button">OK</button>
                </span>
                <span id="ceph-osd-columns-block" class="label label-primary">3</span>Ceph OSD
            </li>

        </ul>
    </div>

    <div class="col-sm-3">
{#      <div id="neutron-manager" style="min-width:200px;height:300px"></div>#}
      <div id="ceph_mon_status" style="height:300px">dzfzfffff</div>

    </div>
    <div class="col-sm-3">
        <div id="ceph_osd_status" style="height:300px"></div>
    </div>

  </div>
</div> {#Ceph dashboard#}



<div class="ibox float-e-margins">
{#  着个是nova具体状态信息#}
  <div class="ibox-title">
      <h5>3D Buttons</h5>
      <div class="ibox-tools">
          <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
          </ul>
          <a class="close-link">
              <i class="fa fa-times"></i>
          </a>
      </div>
  </div>
  <div class="ibox-content">
      <p>
          To add three diminsion to buttons You can add <code>.dim</code> class to button.
      </p>
      <h3 class="font-bold">Three diminsion button</h3>

              <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-money"></i></button>
              <button class="btn btn-warning dim btn-large-dim" type="button"><i class="fa fa-warning"></i></button>
              <button class="btn btn-danger  dim btn-large-dim" type="button"><i class="fa fa-heart"></i></button>
              <button class="btn btn-primary  dim btn-large-dim" type="button"><i class="fa fa-dollar"></i>6</button>
              <button class="btn btn-info  dim btn-large-dim btn-outline" type="button"><i class="fa fa-ruble"></i></button>
              <button class="btn btn-primary dim" type="button"><i class="fa fa-money"></i></button>
              <button class="btn btn-warning dim" type="button"><i class="fa fa-warning"></i></button>
              <button class="btn btn-primary dim" type="button"><i class="fa fa-check"></i></button>
              <button class="btn btn-success  dim" type="button"><i class="fa fa-upload"></i></button>
              <button class="btn btn-info  dim" type="button"><i class="fa fa-paste"></i> </button>
              <button class="btn btn-warning  dim" type="button"><i class="fa fa-warning"></i></button>
              <button class="btn btn-default  dim " type="button"><i class="fa fa-star"></i></button>
              <button class="btn btn-danger  dim " type="button"><i class="fa fa-heart"></i></button>

              <button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-money"></i></button>
              <button class="btn btn-outline btn-warning dim" type="button"><i class="fa fa-warning"></i></button>
              <button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-check"></i></button>
              <button class="btn btn-outline btn-success  dim" type="button"><i class="fa fa-upload"></i></button>
              <button class="btn btn-outline btn-info  dim" type="button"><i class="fa fa-paste"></i> </button>
              <button class="btn btn-outline btn-warning  dim" type="button"><i class="fa fa-warning"></i></button>
              <button class="btn btn-outline btn-danger  dim " type="button"><i class="fa fa-heart"></i></button>

  </div>
</div>


{#  最外部的div#}
</div>
{% endblock %}


{% block js %}
  <script type="text/javascript" src="/static/js/plugins/highcharts/highcharts.js"></script>
{#  <script type="text/javascript" src="/static/js/one_finger/plugins/echarts/echarts.js"></script>#}
  <script type="text/javascript" src="/static/js/one_finger/plugins/echarts/echarts.common.min.js"></script>
  <script type="text/javascript" src="/static/js/one_finger/dashiboard/dashboard.js"></script>

  获取信息的js
  <script type="text/javascript" src="/static/js/openstack/cloud.js"></script>
  <script type="text/javascript" src="/static/js/openstack/neutron.js"></script>
  <script type="text/javascript" src="/static/js/openstack/nova.js"></script>
  <script type="text/javascript" src="/static/js/openstack/cinder.js"></script>
  <script type="text/javascript" src="/static/js/openstack/ceph.js"></script>


  <script>

  $(document).ready(function(){
{#    a=[1,3,4,5,6];#}
{#    for(var i=0;i<a.length;i++){console.log(a[i])};#}

{#    $.get('/openstack/test',function(callback, status){#}
{#      console.log('callback');#}
{#      window.location.replace("/test");#}
{#      if (callback){#}
{#        window.location.replace("/test");#}
{#        console.log(callback)#}
{##}
{#      }#}


    });
{#    这个是获取cloud状态的方法#}
{#    cloud_status("{% url 'cloud_status' %}");#}
{#    setInterval(function(){cloud_status("{% url "cloud_status" %}")},5000);#}
{##}
{#    这个是获取nentron状态的方法#}
{#    neutron_status("{% url "neutron_status" %}");#}
{#    setInterval(function(){neutron_status("{% url "neutron_status" %}")},5000);#}
{##}
{#    这个是获取nentron状态的方法#}
{#    nova_status("{% url "nova_status" %}");#}
{#    setInterval(function(){nova_status("{% url "nova_status" %}")},5000);#}
{##}
{#    这个是获取nentron状态的方法#}
{#    cinder_status("{% url "cinder_status" %}");#}
{#    setInterval(function(){cinder_status("{% url "cinder_status" %}")},5000);#}
{##}
{#    这个是获取nentron状态的方法#}
{#    ceph_status("{% url "ceph_status" %}");#}
{#    setInterval(function(){ceph_status("{% url "ceph_status" %}")},5000);#}



{#    $.get("{% url 'test' %}",function(callback, status){#}
{#        if (callback){#}
{#          console.log(callback)#}
{#        })#}

  </script>
{% endblock %}
