<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="../../static/js/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="../../static/js/plugins/highcharts/highcharts.js"></script>

  <script>
    $(function () {
    var chart;

    $(document).ready(function () {

    	// Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            colors:[
                        'Teal',//第一个颜色，欢迎加入Highcharts学习交流群294191384
                        'GoldenRod',//第二个颜色
                        'Brown',//第三个颜色
                      ],
            title: {
                text: 'Browser market shares at a specific website, 2010'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['OK', 70.0],
                    ['Waing', 0.0],
                    ['Error', 8.5]
                ]
            }]
        });
    });

});
  </script>
</head>
<body>
  <div id="container" style="min-width:700px;height:400px"></div>
</body>
</html>